/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

/* Reduce minimum window width */
#urlbar-container {
  min-width: 150px !important;
}

/* Remove various buttons left and right of the URL bar:
   - forward-button: also reachable via longpress of back button
   - home-button: not important enough
   - customizableui-special-spring: empty space
   - library-button: also reachable via PanelUI-menu-button
   - sidebar-button: not useful on mobile (we try to gain horizontal space)
   - fxa-toolbar-menu-button: firefox cloud stuff, also reachable via #PanelUI-menu-button
*/
/* #back-button */
#forward-button,
/* #reload-button */
#home-button,
#customizableui-special-spring1,
/* (urlbar) */
#customizableui-special-spring2,
#library-button,
#sidebar-button,
#fxa-toolbar-menu-button
/* #PanelUI-menu-button */ {
  display: none !important;
}

/* Smaller font: show more of the URL */
#urlbar-input,
input.urlbar-input /* FF 68 ESR */ {
  font-size: 9pt !important;
}

/* Focused urlbar: hide all icons around it, so we have more space to edit the URL */
#urlbar[focused] #identity-box,
#urlbar[focused] #tracking-protection-icon-container,
/* #urlbar-input */
#urlbar[focused] #reader-mode-button,
#urlbar[focused] #pageActionButton {
  display: none;
}

/* Focused urlbar: use almost full screen width (let it cover buttons left and right, which are not useful when editing the URL) */
#nav-bar[urlbar-exceeds-toolbar-bounds] #urlbar-container {
  margin-left: -50px !important;
  margin-right: -25px !important;
}

/* FF 68 ESR: does not have the exceeding urlbar, needs this padding to look good */
input.urlbar-input {
  padding-left: 5px !important;
}

/* FF 68 ESR: hide buttons inside the right of the urlbar, which are reachable from the "..." menu too */
#pocket-button-box,
#star-button-box,
.urlbar-history-dropmarker {
  display: none;
}
